/* # Flexible Widgets
---------------------------------------------------------------------------------------------------- */
.flexible-widget-area {
  clear: both; }
  .flexible-widget-area:before, .flexible-widget-area:after {
    content: "";
    display: table; }
  .flexible-widget-area:after {
    clear: both; }
  .flexible-widget-area > .wrap {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .flexible-widget-area .widget {
    margin-bottom: 2.3rem;
    position: relative; }
    .flexible-widget-area .widget .entry {
      margin-bottom: 2rem;
      position: relative; }
    .flexible-widget-area .widget .widget-provider {
      padding-bottom: 3.7rem; }
    .flexible-widget-area .widget blockquote {
      margin: 4rem 0; }
    .flexible-widget-area .widget:last-child {
      margin-bottom: 0; }
    .flexible-widget-area .widget.featured-content {
      clear: none; }
    @media (min-width: 481px) {
      .flexible-widget-area .widget, .flexible-widget-area .widget.featured-content .entry {
        float: left;
        margin-left: 2.564102564102564%;
        margin-right: 0; }
      .flexible-widget-area .widget.widget-count-1 .widget, .flexible-widget-area .widget.widget-count-1.featured-content-count-1 .widget.featured-content .entry {
        clear: left;
        margin-left: 0;
        margin-right: 0; } }
    @media (max-width: 480px) {
      .flexible-widget-area .widget, .flexible-widget-area .widget.featured-content .entry {
        float: none;
        width: 100%; } }
  @media (min-width: 481px) and (max-width: 860px) {
    .flexible-widget-area.widget-halves .widget, .flexible-widget-area.featured-halves .widget.featured-content .entry {
      width: 48.717948717948715%; }
    .flexible-widget-area.widget-fourths .widget:nth-child(odd), .flexible-widget-area.featured-halves .widget.featured-content .entry:nth-child(odd) {
      clear: left;
      margin-left: 0;
      margin-right: 0; } }
  @media (min-width: 861px) {
    .flexible-widget-area .widget:first-of-type,
    .flexible-widget-area .widget.featured-content .entry:first-of-type {
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .flexible-widget-area.widget-fourths .widget, .flexible-widget-area.featured-fourths .widget.featured-content .entry {
      width: 23.076923076923077%; }
    .flexible-widget-area.widget-halves .widget, .flexible-widget-area.featured-halves .widget.featured-content .entry {
      width: 48.717948717948715%; }
    .flexible-widget-area.widget-thirds .widget, .flexible-widget-area.featured-thirds .widget.featured-content .entry {
      width: 31.623931623931625%; }
    .flexible-widget-area.widget-full .widget, .flexible-widget-area.widget-full .widget.featured-content {
      clear: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%; }
    .flexible-widget-area:not(.alternate).widget-halves.widgets-uneven .widget:nth-child(even), .flexible-widget-area:not(.alternate).widget-halves.widgets-uneven .widget.featured-content .entry:nth-child(even) {
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .flexible-widget-area:not(.alternate).featured-halves.featured-uneven .widget.featured-content .entry:nth-child(odd) {
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .flexible-widget-area:not(.alternate).widget-halves.widgets-even .widget:nth-child(odd), .flexible-widget-area:not(.alternate).widget-halves.widgets-even:not(.has-featured-content-widget) .widget.featured-content .entry:nth-child(odd), .flexible-widget-area:not(.alternate).featured-halves.featured-even .widget.featured-content .entry:nth-child(even) {
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .flexible-widget-area:not(.alternate).widget-thirds .widget:nth-child(3n+1), .flexible-widget-area:not(.alternate).widget-thirds:not(.has-featured-content-widget) .widget.featured-content .entry:nth-child(3n+1), .flexible-widget-area:not(.alternate).featured-thirds .widget.featured-content .entry:nth-child(3n+2) {
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .flexible-widget-area:not(.alternate).widget-fourths .widget:nth-child(4n+1), .flexible-widget-area:not(.alternate).widget-fourths:not(.has-featured-content-widget) .widget.featured-content .entry:nth-child(4n+1), .flexible-widget-area:not(.alternate).featured-fourths .widget.featured-content .entry:nth-child(4n+2) {
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .flexible-widget-area:not(.alternate).widget-halves.widgets-uneven .widget:first-of-type, .flexible-widget-area:not(.alternate).widget-area.widgets-uneven .widget.featured-content:nth-of-type(1), .flexible-widget-area:not(.alternate).widget-halves.widgets-uneven .widget.featured-content:first-of-type, .flexible-widget-area:not(.alternate).featured-halves.featured-uneven .widget.featured-content .entry:first-of-type, .flexible-widget-area:not(.alternate).featured-fourths.featured-uneven .widget.featured-content .entry:first-of-type {
      clear: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%; }
    .flexible-widget-area.alternate.widget-halves.widgets-uneven .widget:nth-child(even):not(.featured-content), .flexible-widget-area.alternate.featured-halves.featured-uneven .widget.featured-content .entry:nth-child(even) {
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .flexible-widget-area.alternate.widget-halves.widgets-even .widget:nth-child(even):not(.featured-content), .flexible-widget-area.alternate.featured-halves.featured-even .widget.featured-content .entry:nth-child(odd) {
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .flexible-widget-area.alternate.widget-thirds .widget:nth-child(3n+2):not(.featured-content), .flexible-widget-area.alternate.featured-thirds.featured-even .widget.featured-content .entry:nth-child(3n) {
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .flexible-widget-area.alternate.widget-fourths .widget:nth-child(4n+2):not(.featured-content), .flexible-widget-area.alternate.widget-fourths .widget.featured-content .entry:nth-child(4n+2), .flexible-widget-area.alternate.featured-fourths.featured-uneven .widget.featured-content .entry:nth-child(4n+3) {
      clear: left;
      margin-left: 0;
      margin-right: 0; }
    .flexible-widget-area.alternate.featured-halves .widget.featured-content .entry:first-of-type, .flexible-widget-area.alternate.featured-thirds .widget.featured-content .entry:first-of-type, .flexible-widget-area.alternate.featured-fourths .widget.featured-content .entry:first-of-type {
      clear: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%; }
    .flexible-widget-area.alternate.widget-fourths:not(.has-featured-content-widget) .widget:first-of-type, .flexible-widget-area.alternate.widget-thirds:not(.has-featured-content-widget) .widget:first-of-type, .flexible-widget-area.alternate.widget-halves:not(.has-featured-content-widget) .widget:first-of-type {
      clear: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%; } }

.flexible-widget-area .fullwidth,
.flexible-widget-area .full-width, .flexible-widget-area.fullwidth, .flexible-widget-area.full-width,
.parallax-widget-area .fullwidth,
.parallax-widget-area .full-width,
.parallax-widget-area.fullwidth,
.parallax-widget-area.full-width,
.parallax-widget-areas .fullwidth,
.parallax-widget-areas .full-width,
.parallax-widget-areas.fullwidth,
.parallax-widget-areas.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }
  .flexible-widget-area .fullwidth > .wrap,
  .flexible-widget-area .full-width > .wrap, .flexible-widget-area.fullwidth > .wrap, .flexible-widget-area.full-width > .wrap,
  .parallax-widget-area .fullwidth > .wrap,
  .parallax-widget-area .full-width > .wrap,
  .parallax-widget-area.fullwidth > .wrap,
  .parallax-widget-area.full-width > .wrap,
  .parallax-widget-areas .fullwidth > .wrap,
  .parallax-widget-areas .full-width > .wrap,
  .parallax-widget-areas.fullwidth > .wrap,
  .parallax-widget-areas.full-width > .wrap {
    padding: 5rem 3rem;
    position: relative; }

/*# sourceMappingURL=flexible-widgets-style.css.map */
